<html ng-app="acmeApp" ng-controller="AppCtrl">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acme Inc.</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  </head>
  <body ng-cloak>

    <!--Header-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <button type="button" ng-show="showBackButton" class="btn btn-back btn-default navbar-btn" ui-sref="users"><i class="fa fa-chevron-left fa-lg"></i> Back</button>
          </div>
          <div class="col-xs-6 text-right">
            <a href="#/">
              <img src="assets/images/logo_sm.png" class="logo" alt="">
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Content -->
    <div ui-view auto-scroll class="container animated content"></div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-center">&copy; {{ year }} Acme Inc.</p>
      </div>
    </footer>

    <!--script-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--angular-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/progressbar.js/dist/progressbar.min.js"></script>

    <!--app modules-->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controller.js"></script>
    <script src="assets/js/config.js"></script>
    <script src="users/controllers/usersCtrl.js"></script>
    <script src="users/controllers/userDetailsCtrl.js"></script>
    <script src="users/services/userService.js"></script>
  </body>
</html>