
.user-list {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: $border-radius-size;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  h2 {
    margin: 15px;
    @media(max-width: 480px) {
      margin: 0;
    }
  }
  .form-group {
    position: relative;
    .glyphicon {
      position: absolute;
      right: 10px;
      top: 10px;
      color: $color-grey-light;
    }
  }
  input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $brand-primary;
    margin-top: 20px;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
	  font-family: 'Open Sans';
    &:focus {
      box-shadow: none;
      border-color: $brand-primary;
    }
  }
  ul {
    margin-top: 30px;
    padding: 0;
    li {
      position: relative;
      list-style: none;
      border-bottom: 1px solid $color-grey-light;
      padding: 15px;
      cursor: pointer;
      transition: .35s all linear;
      h4 { margin: 0;}
      span { display: block; }
      i {
        transition: .35s all linear;
        position: absolute;
        right: 25px;
        line-height: 0;
        top: 45px;
        font-size: 20px;
        color: $brand-secondary;
      }
      &:hover {
        background: #c5c5c5;
        transition: .35s all linear;
        i {
          transition: .35s all linear;
          right: 15px;
        }
      }
      &:last-child { border: none; }
    }
  }
}
