.remaining-progress-bar {
  text-align: center;
  font-size: 18px;
	font-family: 'Open Sans';
  @media(max-width: 480px) {
    margin-bottom: 20px;
    font-size: 12px;
    .h3 {
      font-size: 14px;
    }
  }
}
#profile-cover-overlay {
    display: block;
    height: 210px;
    background: url(../../assets/images/dotted-overlay.png) center repeat;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    top: 0;
}
.profile-image-container {
  text-align: center;
  position: relative;
  .profile-image {
    margin-top: -70px !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 130px;
    overflow: hidden;
    height: 130px;
    border: 4px solid $brand-primary;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
}

.user-details {
  padding: 70px 15px;
  background: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
  // border: 1px solid $color-grey-light;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-top: none;
  .details-list-item {
    display: inline-block;
    .fa-circle {
      color: $brand-secondary;
    }
    .fa-inverse {
      color: #ffffff;;
    }
    a {
      color: $brand-primary;
      transition: .35s all linear;
      &:hover {
        color: $brand-secondary;
        transition: .35s all linear;
      }
    }
  }
  p.user-bio {
    margin: 30px 0;
  }
  @media(max-width: 480px) {
    text-align: left;
    .details-list-item {
    display: block;
    }
  }
}