@import '../..bower_components/animate.css/animate.css';
@import 'variables';
@import 'typography';
@import 'user_list';
@import 'user_details';
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background: rgba(238, 238, 238, 1);
	font-family: 'Open Sans';
  -webkit-tap-highlight-color: #8dc442 !important;
}

.navbar {
  background: linear-gradient(135deg,#43a747 0,$brand-primary 50%,$brand-secondary 100%);
  border-bottom: 4px solid $brand-secondary;
  .navbar-brand {
    color: #fff !important;
    float: none;
    line-height: 48px;
  }
  .btn-back {
    border: none;
    border-radius: 0;
    background: transparent;
    color: #ffffff;
    transition: .25s linear all;
    &:hover {
      color: $brand-primary;
      transition: .25s linear all;
    }
    &:focus {
      background: transparent;
      border: none;
    }
  }
  .logo {
    height: 48px;
    width: auto;
  }
}
.navbar-center {
  margin: auto;
  float: none;
  text-align: center;
  width: 112px;
}

.content {
  max-width: 800px;
  padding-top: 70px;

  &.ng-enter, &.ng-leave {
    transition: 0.35s ease-in-out all;
  }
  // enter
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      animation-name: fadeIn;
      -webkit-animation-duration: .95s;
      opacity: 1;
    }
  }
  // leave
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      animation-name: fadeOut;
      -webkit-animation-duration: .05s;
      opacity: 0;
    }
  }
}

.section-heading {
  margin: 30px 0;
  @media(max-width: 480px) {
    text-align: center;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f3f3f3;
  line-height: 60px;
  border-top: 4px solid $brand-secondary;
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  p {
    margin: 0;
  }
}
