<div class="user-list">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-muted">Users</h2>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" ng-model="vm.searchUser" placeholder="Search..." class="form-control">
        <i class="glyphicon glyphicon-search"></i>
      </div>
    </div>
  </div>
  <ul>
    <li ng-repeat="user in vm.users | filter: vm.searchUser | orderBy: 'name' as filteredResult" ng-click="vm.goToUser(user.id)">
        <h4 class="text-muted">{{ user.name }}</h4>
        <span class="small text-muted"><strong>Location:</strong> {{ user.location }}</span>
        <span class="small text-muted"><strong>Email:</strong> {{ user.email }}</span>
        <i class="fa fa-chevron-right"></i>
    </li>

    <div class="alert alert-info"
        ng-if="filteredResult.length == 0">
        No items in the collection!
    </div>

    
  </ul>
</div>