
<div class="profile-cover" id="profile-cover"
  style="background-image: url({{ vm.user.image }});
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center 33%;
    border-bottom: 4px solid #8dc444;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height:215px">
    <div id="profile-cover-overlay"></div>
</div>
<div class="profile-image-container">
  <div class="profile-image">
    <img ng-src="{{ vm.user.image }}" alt="">
  </div>
</div>

<div class="user-details">
  <h2 class="text-muted">{{ vm.user.name }}</h2>

  <span class="details-list-item">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-inverse fa-stack-1x"></i>
    </span>
    <a href="mailto:{{ vm.user.email }}">{{ vm.user.email }}</a>
  </span>

  <span class="details-list-item">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-phone fa-inverse fa-stack-1x"></i>
    </span>
    <a href="tel:{{ vm.user.phone }}">{{ vm.user.phone }}</a>
  </span>

  <span class="details-list-item">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-map-marker fa-inverse fa-stack-1x"></i>
    </span>
    <a href="https://www.google.co.za/maps/place/{{ vm.user.location }}" target="_blank">{{ vm.user.location }}</a>
  </span>

  <p class="user-bio">{{ vm.user.about }}</p>

  <div class="row">
    <h3 class="section-heading text-muted">Balances</h3>
    <div class="col-xs-4">
      <div class="remaining-progress-bar" id="minutes"></div>
    </div>
    <div class="col-xs-4">
      <div class="remaining-progress-bar" id="data"></div>
    </div>
    <div class="col-xs-4">
      <div class="remaining-progress-bar" id="messages"></div>
    </div>
  </div>
</div>